<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <%= link_to t('Report a problem'), 'https://tt.amazon.com/quicklink/Q000830282', target: '_blank' %>   
  </div>
  <strong><%= t('EU ICQA Learning terminal') %></strong> - <%= t('Created and owned by the EU ICQA Team') %>
</footer>