<div data-widget="collapse" class="box-header with-border div-cursor-pointer">
    <h3 class="box-title"><%= t('Detailed Content') %></h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
</div>