<% if !related_links.nil? && !related_links.blank? %>
  <hr />
  <p><strong><%= t('References') %>:</strong></p>
  <ul>
    <% decode_links(related_links).each do |link| %>
      <li><%= link_to link[:name], link[:url], target: '_blank' %></li>
    <% end %>
  </ul>
<% end %>

<% if !related_attachments.nil? && !related_attachments.blank? %>
  <p><strong><%= t('Related attachments') %>:</strong></p>
  <ul>
    <% decode_links(related_attachments).each do |link| %>
      <li><%= link_to link[:name], link[:url], target: '_blank' %></li>
    <% end %>
  </ul>
<% end %>